<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>

<body>
  <%- include('./partials/navbar') %>
  <h1>Welcome to Worktrack!</h1>
  <img src="./public/stylesheets/download.png" alt="Spaceship was not completed and alien stays" />
</body>

</html>