<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>

<body>
  <%- include('./partials/navbar') %>
  <h1>Welcome to Worktrack!</h1>
  <div class="picture">✔</div>
  <br>

  <% if (user) { %>
    <button type="submit" class="btn btn-dark" href="/logout">LOG OUT</a></button>
    <% } else { %>
        <button type="submit" class="btn btn-dark" href="/auth/google">LOG IN</a></button>
      <% } %>

</body>
</html>

