<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<body>
  <%- include('../partials/navbar') %>

<form action="/works" method="POST">
  <fieldset>
    <br>
    <h2>Add Subject</h2>
        <input type="text" name="subject" placeholder= "Subject"> <br> <br>
        <input type="text" name="semester" placeholder= "Semester"> <br> <br>
        <label for="submitButton"></label>
          <input type="submit" name="submitButton">
    </fieldset>
</form>
</body>
</html>