<%- include('../partials/header') %>

<form id="new-form" action="/works" method="POST">
  <label>Subject:
    <input type="text" name="subject">
  </label><br>
  <label>Semester:
    <input type="text" name="semester">
  </label><br>
  <input type="submit" value="Add Subject">
</form>
</body>
</html>

